/* src/index.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --main-color-lightgreen: #6d9773;
  --main-color-darkgreen: #0c3b2e;
  --main-color-lightbrown: #b46617;
  --main-color-gold: #ffba00;
  --main-color-white: #fffbf2;
  --main-color-beige: #f1ecd5;

  --main-green-100: #c9ebcd;
  --main-green-200: #b1d5b6;
  --main-green-300: #9ac09f;
  --main-green-400: #83ab89;
  --main-green-500: #6d9773;
  --main-green-600: #507656;
  --main-green-700: #35563a;
  --main-green-800: #1b3820;
  --main-green-900: #001d02;

  --main-grey-100: #e3e3e3;
  --main-grey-200: #a3a3a3;
  --main-grey-300: #8a8a8a;
  --main-grey-400: #5c5c5c;
  --main-grey-500: #474747;

  --main-white: #ffffff;
  --main-cream: #fffbf2;
  --main-black: #000000;
}

body {
  margin: 0;
  background-color: var(--main-cream);
}

@layer components {
  .form-input,
  .date-input,
  .time-input {
    @apply rounded-2xl w-full py-3 px-11 bg-white text-main-grey-300 font-kulim 
          border-main-grey-400 border-solid border cursor-pointer focus:outline-offset-0 focus:outline-main-green-500;
  }
  .form-btn {
    @apply bg-main-color-lightgreen text-main-color-white font-kulim font-semibold text-lg rounded-2xl 
              px-16 py-3 cursor-pointer hover:bg-main-green-700;
  }
  .heading {
    @apply text-center text-main-green-700 font-medium text-3xl px-4 font-source;
  }
  .select-btn {
    @apply bg-main-white font-source font-medium text-main-black text-base border border-main-grey-200 
            rounded-2xl px-4 py-2 hover:bg-main-green-700 hover:text-main-white;
  }
  .pop-up-background {
    @apply w-full h-full flex justify-center items-center bg-black bg-opacity-75 top-0 left-0 z-50 pb-10;
    position: fixed !important;
  }
  .pop-up-container {
    @apply relative flex flex-col bg-white rounded-2xl border-t lg:border border-main-black w-11/12 h-fit 
            top-5 lg:top-10 bottom-0 lg:w-6/12 lg:my-auto overflow-scroll py-5;
  }
  .toggle-btn {
    margin: 1em 2rem 0 auto;
  }
  .checkbox {
    opacity: 0;
    position: absolute;
    z-index: 9991;
  }
  .checkbox-label {
    background-color: var(--main-grey-100);
    width: 53px;
    height: 25px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9991;
  }
  .checkbox-label .ball {
    background-color: white;
    width: 22px;
    height: 20.5px;
    position: absolute;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
    cursor: pointer;
    z-index: 9991;
  }
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(26.5px);
  }
  .checkbox:checked + .checkbox-label {
    background-color: var(--main-green-400);
  }
  .page-container {
    @apply mx-10 my-5 md:mx-28 md:my-16 lg:mx-60 
  }
}

@layer utilities {
  .sign-in-partner-btn {
    @apply flex rounded-2xl p-1 cursor-pointer hover:shadow-lg hover:outline hover:outline-main-green-400;
  }
  /* tailwind classes are not applying to date and time inputs so this is used */
  input [type="date"]::before {
    content: attr(placeholder) !important;
  }
  .date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 13px;
    top: 50%;
    font-size: large;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .date-input-alternative::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 12px;
    top: 37%;
    font-size: large;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .time-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 3px;
    top: 37%;
    font-size: large;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .slider {
    @apply w-full h-2 my-3 bg-main-green-900 rounded-full cursor-pointer;
    -webkit-appearance: none;
    appearance: none;
  }
  .slider::-webkit-slider-thumb {
    @apply w-5 h-5 hover:h-6 hover:w-6 bg-main-green-400 shadow-2xl rounded-full;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 1px solid var(--main-white);
  }
  .slider::-moz-range-thumb {
    @apply w-5 h-5 hover:h-6 hover:w-6 bg-main-green-900 shadow-2xl rounded-full;
    cursor: pointer;
    border: 1px solid var(--main-white);
  }
  .range-slider {
    @apply absolute w-full h-2 bg-transparent pointer-events-none;
    -webkit-appearance: none;
    appearance: none;
  }

  .range-slider::-webkit-slider-runnable-track {
    @apply w-full h-2 bg-main-grey-200 rounded-full;
    position: relative;
  }
  .range-slider::-moz-range-track {
    @apply w-full h-2 bg-main-grey-200 rounded-full;
    position: relative;
  }
  .range-slider::-webkit-slider-thumb {
    @apply w-5 h-5 -top-1.5 hover:h-6 hover:w-6 hover:-top-2 bg-main-green-400 shadow-2xl rounded-full cursor-pointer;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    position: relative;
    border: 1px solid var(--main-white);
    z-index: 2;
  }
  .range-slider::-moz-range-thumb {
    @apply w-5 h-5 -top-1.5 hover:h-6 hover:w-6 hover:-top-2 bg-main-green-400 shadow-2xl rounded-full cursor-pointer;
    pointer-events: all;
    position: relative;
    border: 1px solid var(--main-white);
    z-index: 2;
  }
  .range-slider-container {
    position: relative;
    width: 100%;
  }
  .range-slider-fill {
    position: absolute;
    height: 8px;
    background-color: var(--main-green-900); /* Green color */
    z-index: 2;
  }
  .loading-animation {
    display: flex;
    justify-content: center;
  }
  .loading-animation > div {
    width: 16px;
    height: 16px;
    margin: 3px 6px;
    border-radius: 50%;
    opacity: 1;
    animation: loading-animation 0.6s infinite alternate;
  }
  @keyframes loading-animation {
    to {
      opacity: 0.1;
      transform: translateY(-16px);
    }
  }
  .loading-animation > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  .loading-animation > div:nth-child(3) {
    animation-delay: 0.4s;
  }
  .form-radio-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .datepicker {
    @apply mx-auto left-10 font-kulim;
    left: 70px !important;
  }
  /* Selected day background color */
  .datepicker .react-datepicker__day--selected,
  .react-datepicker__day--selected,
  .react-datepicker__day--highlighted,
  .react-datepicker__day--keyboard-selected {
    @apply bg-main-green-500 text-white font-kulim;
  }
  /* Hover effect for selected day */
  .datepicker .react-datepicker__day--selected:hover,
  .react-datepicker__day--selected:hover,
  .react-datepicker__day--keyboard-selected:hover,
  .react-datepicker__day--highlighted:hover {
    @apply hover:bg-main-green-700 text-white font-kulim;
  }
  .datepicker .react-datepicker__day--highlighted,
  .react-datepicker__day--highlighted {
    @apply bg-white text-black font-kulim;
  }
  .react-datepicker h2.react-datepicker__current-month,
  .react-datepicker__day-name {
    font-family: 'Kulim Park' !important;
  }
  /* Styling for the time picker inputs (select dropdown or time input) */
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected,
  .datepicker .react-datepicker__time-container input {
    @apply bg-main-green-500 hover:bg-main-green-700 font-kulim;
  }
  .star-rating {
    display: inline-flex;
    justify-content: center;
  }
  .star-rating svg.star-svg {
    cursor: pointer;
    display: inline;
  }
}
