/* src/index.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* these need to be removed once components have been updated */
  --main-color-lightgreen: #6d9773;
  --main-color-darkgreen: #0c3b2e;
  --main-color-lightbrown: #b46617;
  --main-color-gold: #ffba00;
  --main-color-white: #fffbf2;
  --main-color-beige: #f1ecd5;

  --main-green-100: #c9ebcd;
  --main-green-200: #b1d5b6;
  --main-green-300: #9ac09f;
  --main-green-400: #83ab89;
  --main-green-500: #6d9773;
  --main-green-600: #507656;
  --main-green-700: #35563a;

  --main-grey-100: #e3e3e3;
  --main-grey-200: #a3a3a3;
  --main-grey-300: #8a8a8a;
  --main-grey-400: #5c5c5c;
  --main-grey-500: #474747;

  --main-white: #ffffff;
  --main-cream: #fffbf2;
  --main-black: #000000;
}

body {
  margin: 0;
  background-color: var(--main-cream);
}

@layer components {
  .form-input {
    @apply text-main-color-darkgreen py-3 px-5 border border-opacity-50 border-main-green-700 
              rounded-2xl font-kulim cursor-pointer;
  }
  .form-btn {
    @apply bg-main-color-lightgreen text-main-color-white font-kulim font-semibold text-lg rounded-2xl 
              px-16 py-3 cursor-pointer hover:bg-main-green-700;
  }
  .heading {
    @apply text-center text-main-green-700 font-medium text-3xl px-4 font-source;
  }
  .selectBtn {
    @apply bg-main-white font-source font-medium text-main-black text-lg border border-main-grey-300 
            rounded-2xl px-8 py-2 hover:bg-main-green-700 hover:text-main-white;
  }
}

@layer utilities {
}
